dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy"
install:
  - pip install tox
  - pip install python-coveralls
script:
  - TOX_PYTHON_VERSION=$(if [ $TRAVIS_PYTHON_VERSION = "pypy" ]; then echo "pypy"; else echo py$TRAVIS_PYTHON_VERSION | tr -d .; fi)
  - tox -e $(tox -l | grep $TOX_PYTHON_VERSION | paste -sd "," -)
after_success:
  - coveralls
sudo: false
